<%- contentFor('body') %>

<div class="row">
  <div class="content">
      <p>Pagina</p>
  </div>
  <div class="content">
      <p>Pagina</p>
  </div>
  <div class="content">
      <p>Pagina</p>
  </div>

</div>
